[submodule "Bonsai"]
	path = Bonsai
	url = https://github.com/anthonycr/Bonsai.git
[submodule "AnimatedProgressBar"]
	path = AnimatedProgressBar
	url = https://github.com/anthonycr/AnimatedProgressBar.git
