# Android Studio
*.jks
.DS_Store
/local.properties
/.idea/workspace.xml
/build

# External tool builders
.externalToolBuilders/

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Windows image file caches
Thumbs.db
ehthumbs.db

# Local configuration file (sdk path, etc)
local.properties
gradle.properties
.directory

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Gradle
build
.gradle